
/* TYPE */
a img, img { border:none;border:0; }
body {
	font-size: 11px;
	font-family: Helvetica, "Helvetica Neue", "Helvetica Neue LT Std", Arial, sans-serif;
	color: #271e1b;
	text-align: center;
/*	background: #fff url('images/bg_sldsite.gif') center 178px repeat-x;*/
	padding:0;
	margin:0;
}
#contain {
	width: 755px;
	margin: auto;
}
td, div, blockquote, p, input, select {
	font-family: Helvetica, "Helvetica Neue", "Helvetica Neue LT Std", Arial, sans-serif;
	font-size: 12px;
}
p, li {
	line-height: 2em;
	padding:0;
	margin: 0 0 1.2em 0;
}
a {
	color: #b00000;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}
li {
	margin: 0 0 0.5em 0;
}
h1.sld {
	text-indent:-999em;
	height:77px;
	background: url('images/h1_sld.gif') top left no-repeat;
	padding:0;
	margin:0;
}
h2 {
	clear:both;
	padding:0;
	margin:0;
	text-indent:-999em;
	width: 650px;
	height: 50px;
	background-position: top left;
	background-repeat: no-repeat;
}
	#video { background: url('images/h2_video.gif') top left no-repeat; position:relative; left:-44px; }
	#stories { background: url('images/h2_stories.gif') top left no-repeat; }
	#specialize { background: url('images/h2_specialize.gif') top left no-repeat; width:300px; position:relative; left:-44px; }
	#clients { background: url('images/h2_clients.gif') top left no-repeat; width:300px; }
	#contact { background: url('images/h2_contact.gif') top left no-repeat; }
h3 {
	font-size:12px;
	padding:0;
	margin:0;
}
h6 {
	font-size: 9px;
	padding:0;
	margin:0;
}
strong { color:#d00000; }
.content {
	text-align: left;
}
.lacarte {
	padding-left: 17px;
}
.lacarte a {
	display:block;
	padding:13px 21px 13px 21px;
	font-size: 11px;
	float:left;
	color:#535353;
	text-decoration:none;
	text-transform:uppercase;
}
	.lacarte a:hover {
		color:#b00000;
	}
.feature {
	background: #cfcfcf url('images/bg_feature.gif') left top repeat-x;
	padding: 22px 0 37px 44px;
	margin-top: 17px;
	margin-bottom: 10px;
	clear:both;
}
	.featureOuter {
		padding: 0 0 10px 0;
		border-bottom:1px solid #bbbebe;
		margin-bottom:33px
	}

.section {
	padding: 0 0 30px 44px;
	border-bottom: 1px solid #bbbebe;
	margin-bottom: 33px;
}
	.cc {
		border:0;
	}


.smallP {
	margin:0;
	font-size:9px;
	line-height: 1.5em;
	margin-top:24px;
	width:640px;
	text-align:center;
}
#latestVideo a {
	padding:0;
}
.floatRight {
	float:right;
	width:360px;
}
	.clientP {
		padding-left: 44px;
	}
	.clientList {
		padding-left: 44px;
	}
		.clientList p {
			margin:0;
			font-size:9px;
			line-height: 1.5em;
		}
		.clientList h3 {
			margin-top: 1.2em;
		}
	.adresse {
		font-size: 11px;
		line-height: 1.6em;
	}
.floatLeft {
	float:left;
	width:295px;
	border-right:1px solid #bbbebe;
}
.floatLeft p {
	padding-right:30px;
}

.foot {
	height: 200px;
	background: #bbbebe;
	clear:both;
}





.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
