
  body { background:#fff; font-family:Times, "Times New Roman", serif; font-size:12px; padding: 133px 0 0 88px; }
  #sld { padding-left:96px; height:130px; background:url(images/bg_S.gif) left top no-repeat; }
  h1 { height:32px; background:url(images/h1_stresslimit.gif) left bottom no-repeat; font-size:12px; text-indent:-9999em; }
  h2 { font-style:italic; font-weight:normal; font-size:12px; }
  p {  }
  a { color:#f99d1c; text-decoration:none; }
