/*
Site: EDF - Making of the Power of Scale
Description: Slick, yet nifty
Version: 0.1
Author: stresslimitdesign (http://stresslimitdesign.com)
*/

 
/*  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	Table of Contents:
 
		Defaults
		Basic Layout
		General Styles
			text
			links
			lists
			forms
			tables
		Section-Specific Styles
			header
			side tabs
			page
				-posts
				-cart
				-store
				-bytesyze
			Footer
		Print
 
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*
@font-face { font-family: Tallys; src: url(fonts/Tallys_15.otf) format("opentype"); }
@font-face { font-family: Vollkorn; src: url(fonts/vollkorn.otf) format("opentype"); }
@font-face { font-family: LeagueGothic; src: url(fonts/LeagueGothic.otf) format("opentype"); }
@font-face { font-family: Prociono; src: url(fonts/Prociono.otf) format("opentype"); }
*/

/*  --------------------------------------------------------------
	DEFAULTS
	-------------------------------------------------------------*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%;
	font-family: inherit; vertical-align: baseline;
}
ol, ul { list-style: none;}
:focus { outline: 0;}

html { background:#000000; }
body { color:#fff;
font-family: Times, Georgia, serif;
line-height: 1.3em;
font-size:14px; }


/*  --------------------------------------------------------------
	LAYOUT
	-------------------------------------------------------------*/

#horizon { 	 position:absolute; top:50%; left:0; display:block; width:100%; height:1px; }
	#container { position:absolute; height:662px; top:-331px; width:10700px; padding:0 432px 0 50px; background:url('images/bg.jpg') top left repeat-x; }
		#main { position:relative; height:450px; margin-top:100px; background:#a10000; }
			#stress { height:38px; width:168px; position:absolute; left:0; top:-38px; background:#a10000; }
			.panel { float:left; width:380px; padding:84px 32px 12px 0; position:relative; }
				.panel .title { position:absolute; top:0; left:0; padding-top:24px; } 
				.paddy { padding-left:46px; }

/*  --------------------------------------------------------------
	GENERAL STYLES
	-------------------------------------------------------------*/

/*  ----- Text ----- */
p { padding:0 0 10px 0; text-align:justify; }
b, strong { font-weight:bold; }
i, em { font-style:italic; }

h1,h2,h3 {
/*font-family:LeagueGothic, Verdana, serif;*/
font-weight:normal; color:#ffffff; }
h1 { font-size:36px; font-weight:bold; line-height:0.9em; padding-bottom:8px; }
h2 { font-size:14px; text-align:left; text-transform:uppercase; font-weight:bold; }
h3 { font-size:14px; text-align:left; text-transform:uppercase; }
.paddy h2 { font-weight:normal; }

/*  ----- Links ----- */
a:link, a:visited { color:#f9c504; text-decoration:underline }
a:hover, a:active { color:#f9c504; text-decoration:none; }

/*  --------------------------------------------------------------
	PANEL STYLES
	-------------------------------------------------------------*/

#stress img { padding:28px 18px 0; }
.panel.image, .panel.video { 			padding-top:24px; width:auto; }
.panel.smallImage {		padding-top:24px; width:628px; margin-right:-24px; }
.panel.doubleImage {	padding-top:24px; width:290px; margin-right:-24px; }
.panel.smallImage img { height:170px; float:left; padding-bottom:24px; padding-right:24px; }
.panel.doubleImage img { height:170px; width:auto; padding-bottom:24px; padding-right:24px; }

#motion1 img, #motion2 img { cursor:pointer; }

/*  --------------------------------------------------------------
	PRINT
	-------------------------------------------------------------*/

@media print {
  body, html { background: white; font-size: 10pt; }
  #horizon, #container, #main { background:transparent none; border:0; color:black; margin:0; padding:0; width:auto; }  
  .panel { float:none; }
}
